<div class="flex flex-col justify-center items-center">
    <span class="text-orange-800 text-sm lg:text-lg font-bold text-nunito uppercase tracking-widest">{{
        $props.get('placeholder')
        }}</span>
    <h3 class="text-center text-2xl lg:text-3xl text-neutral-800 font-montserrat font-bold mt-3  lg:mt-5">
        {{ $props.get('title') }}
    </h3>
    <p class="text-center font-nunito text-base lg:text-xl mt-2 w-full lg:w-2/3">
        {{ await $slots.main() }}
    </p>
</div>