<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ $props.get('title') || "Streamlined Development, Seamless Hosting | LamanHub" }}</title>

    {{-- Load fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">

    {{-- Load favicon --}}
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="/ms-144x144.png">

    @if($slots.meta)
    {{{ await $slots.meta() }}}
    @end
</head>

<body>
    @!component("components/header")
    {{{ await $slots.main() }}}
    @!component('components/footer')
    <script src="/src/main.ts" type="module"></script>
</body>

</html>