<div class="flex justify-center">
    <a href="{{ $props.get('url') }}" class="w-8 h-8 rounded flex justify-center items-center text-xl text-white"
        title="Share to {{ $props.get('name') }}" style="background-color: {{ $props.get('color') }};">
        <iconify-icon icon="{{ $props.get('icon') }}"></iconify-icon>
    </a>
</div>