<div class="flex-1">
    <div class="font-montserrat font-bold text-white text-left lg:text-center text-3xl lg:text-4xl">
        {{ $props.get('count') }}
    </div>
    <div class="text-gray-200 text-left lg:text-center mt-1">{{ $props.get('title') }}</div>
</div>