@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-700 font-noto-sans;
}

.hero:before {
  content: "";
  background: url(/src/assets/svgs/grid.svg) repeat bottom center;
  @apply absolute top-20 left-0 right-0 bottom-0 m-12 rounded-lg;
}

.blog-head:before {
  content: "";
  @apply h-96 bg-primary-100 absolute top-20 left-0 w-full -z-10;
}

.blog-head:after {
  content: "";
  @apply absolute h-40 top-96 mt-20 left-0 w-full bg-gradient-to-b from-primary-100 to-white -z-10;
}

.scroll-container {
  overflow-x: auto; /* Biarkan scroll tetap bisa digunakan */
  scrollbar-width: none; /* Untuk Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Edge */
}
